.score {
  // width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  font-family: SFProDisplay;
  
  &__bad__wrapper {
    padding: 6px 8px;
    border: 1px solid #ea1a4f;
    background: #fee9ef;
    border-radius: 4px;
    color: #ea1a4f;
  }
  &__good__wrapper {
    padding: 6px 8px;
    border: 1px solid #adbfdf;
    background: #d8e4fb;
    border-radius: 4px;
    color: #122945;
  }
  &__perfect__wrapper {
    padding: 6px 8px;
    border: 1px solid #28a879;
    background: #dbf8ef;
    border-radius: 4px;
    color: #28a879;
  }
}
