.background{
max-width: 352px;
height: 48px;
border-radius: 48px;
background: #EAF0FA;
}

.playButton{
    background-image: url("./assets/play.svg");
    height: 24px;
    width: 24px;
    border: none;
}