.ui__selector {
  cursor: url("../../ui/OperationDateTime/assets/курсор.svg"), pointer;
  background-color: transparent;
  border: none;
}
.ui__selector__question__quest {
  &:hover circle {
    fill: #002cfb;
  }
  &:active circle {
    fill: #274bc8;
  }
}
.ui__selector__question__arrow{
    &:hover path {
    fill: #002cfb;
  }
  &:active path {
    fill: #274bc8;
  }
}
.unvisible {
  display: none;
}

