.hideList {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 1s linear;
  transform: translate(0, -10%);
}

.list {
  color: #122945;
  font-family: SFProDisplay;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
  list-style-type: none;
  transition: 1s;
}
.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  color: #122945;
  font-family: SFProDisplay;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
  cursor: pointer;
}
:hover {
  color: blue;
}
.item {
  
  max-height: 200px;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.default {
  color: blue;
}
.mainFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu {
  border-radius: 4px;
  border: 1px solid #eaf0fa;
  background: #fff;

  /* выпадающее меню */
  box-shadow: 0px 0px 26px 0px rgba(233, 237, 243, 0.8);
}
