.dropdownButton {
  color: #122945;
  font-family: SFProDisplay;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
}
.dropdownList {
  display: flex;
  flex-direction: column;
}
.unvisible {
  display: none;
}
.dropdownTitle {
  color: #002cfb;
  font-family: SFProDisplay;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
}
.dropdownItem {
  display: flex;
  flex-direction: row;
  gap: 8px;
  color: #122945;
  font-family: SFProDisplay;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
}
