.table__check{
  padding-right: 12px;
}
.table__rows{
  display: flex;
  align-items: center;
}
.arrow{
  padding-right: 32px;
}
.table__date{
  padding-right: 48px;
}
.table__avatar{
width: 32px;
height: 32px;
padding-right: 96px;

}